.about-us {
    text-align: center;
    padding: 96px 22vw;

    h2 {
        font-weight: 600;
        color: var(--prim-color);
        line-height: 24px;
    }

    h1 {
        font-size: 48px;
        font-weight: 600;
        color: var(--ter-fonts-color);
        margin: 36px 0;
        line-height: 60px;
    }

    p {
        font-size: 20px;
        font-weight: 400;
        color: var(--prim-fonts-color);
        line-height: 30px;
    }
}

@media screen and (width < 1020px) {
    .about-us {
        padding: 96px 10vw;

        h2 {
            font-size: 20px;
        }

        h1 {
            font-size: 40px;
        }

        p {
            font-size: 18px;
        }
    }
}