footer {
    padding: 96px 0;
    width: 100%;
    text-align: center;

    h1 {
        font-size: 36px;
        font-weight: 600;
        color: var(--ter-fonts-color);
    }

    h3 {
        font-size: 20px;
        font-weight: 400;
        color: var(--prim-fonts-color);
        margin-top: 20px;
        margin-bottom: 40px;
    }

    .send-mail {
        margin-bottom: 32px;

        input {
            border: 1px solid #D0D5DD;
            border-radius: 8px;
            padding: 12px 16px;
            width: 20%;
            color: var(--prim-fonts-color);
        }

        input::placeholder {
            font-size: 16px;
            color: var(--prim-fonts-color);
        }

        a {
            margin-left: 16px;
            background-color: var(--prim-color);
            padding: 12px 20px;
            font-size: 16px;
            color: #FFFFFF;
            font-weight: 500;
            border-radius: 8px;
            text-decoration: none;
        }
    }

    p {
        font-weight: 400;
        color: var(--prim-fonts-color);
        font-size: 16px;
    }
}

@media screen and (width < 1020px) {
    footer {
        h1 {
            font-size: 32px;
            font-weight: 600;
            color: var(--ter-fonts-color);
        }

        h3 {
            font-size: 18px;
        }

        .send-mail {
            input {
                width: 40%;
            }
        }

        p {
            font-size: 13px;
        }
    }
}