header {
    background-color: var(--bg-color);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 0 8vw;
    gap: 6vw;
}

.header__menu {
    display: none;       
}

.header__logo {
    display: flex;
    align-items: center;
    gap: 8px;

    h1 {
        font-size: 18px;
        font-weight: 500;
        color: var(--sec-fonts-color);
    }
}

.header__nav {
    margin-right: auto;

    a {
        font-size: 16px;
        margin: 0 1vw;
        color: var(--prim-fonts-color);
        text-decoration: none;
        font-weight: 500;
    }
}

.header__buttons {
    a {
        font-size: 16px;
        font-weight: 500;
        padding: .8em 1.1em;
        text-decoration: none;
        margin: 0 .5em;
    }

    .header__buttons-login {
        color: var(--prim-fonts-color);
    }

    .header__buttons-register {
        color: var(--bg-color);
        background-color: var(--prim-color);
        border-radius: 8px;
    }
}
@media screen and (width < 1020px) {
    .header__logo h1 {
        display: none;
    }
    
    .header__buttons {
        display: none;
    }
    
    .header__nav {
        display: none;
    }
    
    .header__menu {
        width: 24px;
        height: 24px;
        background-image: url("../img/Menu.svg");
        display: inline-block;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer; /* Adiciona cursor de pointer para indicar que é clicável */
    }
    
    .header__menu-list {
        position: absolute;
        top: 100%;
        width: 60vw;
        display: none;
    }
    
    .header__menu-list li {
        padding: 20px 20px;
        background-color: var(--bg-color);
    }
    
    .header__menu-list a {
        color: var(--sec-fonts-color);
        text-decoration: none;
        font-size: 18px;
        font-weight: 600;
    }
    
    .header__menu-button {
        display: none; /* Oculta o checkbox */
    }
    
    .header__menu-button:checked ~ .header__menu-list {
        display: block; /* Mostra o menu quando o checkbox está marcado */
    }
    
    .header__menu label {
        display: inline-block;
        width: 24px;
        height: 24px;
        position: relative;
    }
}